
*{
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1{
    font-size: 30px;
}

input, textarea {
    width: 100%;
    max-width: 95%;
    min-width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #218838;
}

.card {
    background: #ffeb3b;
    padding: 20px;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.inputs input{
    display: inline;
    width: 60px;
    height: 35px;
}

#advice{
    margin: 10px;
    font-size: 15px;
    color: #414141;
}
